body {
    background-color: black;
    color: white;
    height: 100%;
}

.left {
    width: 30%;
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 10px;
}

.right {
    width: 70%;
}

.border {
    border: 2px solid rgba(90, 90, 90, 0.209)
}

.home {
    display: flex;
    width: 45px;
    /* padding: 0px 3px 3px 0   px; */
    gap: 10px;
    margin: 3px 15px 10px 3px;
    /* padding-top: 5px; */
}

.heading {
    display: flex;
    align-items: center;
    width: 34px;
    gap: 10px;
    padding-top: 5px;
}

.heading img {
    width: 34px;
}

.m-1 {
    margin-top: 5px;
}

.m-2 {
    margin-top: 20px;
}

.logo {
    padding-right: 10%;
}

.p {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(179, 179, 179);
    font-weight: bold;
    font-size: large;
    display: flex;
}

.p-1 {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer {
    display: flex;
    text-decoration: none;
    color: rgb(179, 179, 179);
    font-size: 10px;

    gap: 10px;
    position: absolute;
    bottom: 0;
}

.footer a {
    color: rgb(179, 179, 179);
    text-decoration: none;
    display: flex;
    gap: 10px;

}

.library {
    min-height: 80vh;
    position: relative;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.search-bar {
    width: 400px;
    height: 30px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: rgba(90, 90, 90, 0.209);
    outline: none;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.search-bar:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(89, 89, 89, 0.377);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px;
}

.button {
    padding: 10px 20px;
    font-weight: bold;
    border: 2px solid;
    border-radius: 30px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Black Button */
.btn-black {
    background-color: black;
    color: white;
    border-color: black;
}

.btn-black:hover {
    background-color: white;
    color: black;
}

/* White Button */
.btn-white {
    background-color: white;
    color: black;
    border-color: black;
}

.btn-white:hover {
    background-color: black;
    color: white;
}


.header {
    display: flex;
    justify-content: space-between;
}

.spotifyPlaylists {
    padding: 5px;
    max-height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: rgba(90, 90, 90, 0.209) rgba(90, 90, 90, 0.209);
}

.cardcontainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}




.card {
    /* background-color: rgba(90, 90, 90, 0.209); */
    /* border-radius: 10px; */
    /* background-color: rgba(90, 90, 90, 0.209); */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 135px;
    padding: 10px;
    text-align: start;
    height: 230px;
}

.card img {
    width: 100%;
    height: 60%;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 8px;
}

.card h2 {
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin: 0;
    color: rgba(255, 255, 255, 0.853);
}

.card p {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #929292;
    margin-top: 8px;
}


.card1 {
    /* background-color: rgba(90, 90, 90, 0.209); */
    /* border-radius: 10px; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 135px;
    padding: 10px;
    text-align: start;
    height: 230px;
}

.card1 img {
    width: 100%;
    height: 60%;
    border-radius: 5%;
    object-fit: cover;
    margin-bottom: 8px;
}

.card1 h2 {
    font-size: 1rem;
    margin: 0;
    color: rgba(255, 255, 255, 0.853);
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif
}

.card1 p {
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    color: #929292;
    margin-top: 8px;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
}

.songbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rosybrown;
    margin-top: 15px;
    padding: 10px;
}

/* .songlist {
    padding: 0px 12px;
    margin: 10px;
}

.songlist ul li {
    list-style-type: decimal;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    color: #929292;
} */



.card3 {
    background-color: rgba(90, 90, 90, 0.209);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 315px;
    text-align: start;
}


.card3-header {
    margin-bottom: 16px;
}

.card3-header span {
    display: block;
}

.card3-header .title {
    font-size: 1.0rem;
    font-weight: bold;
    padding: 5px 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.card3-header .subtitle {
    font-size: 0.875rem;
    padding: 5px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

.card3-button {
    background-color: white;
    color: black;
    border: none;

    border-radius: 20px;
    padding: 10px 20px;
    font-size: 0.875rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card3-button:hover {
    background-color: black;
    color: white;
}

.scroll {
    overflow: scroll;
    overflow-x: hidden;
    height: 200px;
    scrollbar-width: thin;
    scrollbar-color: rgba(90, 90, 90, 0.209) rgba(90, 90, 90, 0.209);   
}